<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Card</title>
	<link rel="stylesheet" href="card.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
	<body>
		<div class="card">
			<button class="copy-to-clipboard-button" title="Copy Card" onclick="copyDivToClipboard()" type="button">
				<span class="material-symbols-outlined dark">content_copy</span>
			</button>
			<div id="{{ tag }}" class="card-div">
				<p class="tag" style="max-width: 574px">{{ tag }}</p>
				<p class="tag">{{ last_name }} {{ year }}'</p>
				<p class="citation">{{ citation }} <b>| Card Cutter AI</b></p>
				<p class="content">{{ card_body }}</p>
			</div>
		</div>

		<script>
			function copyDivToClipboard(){
				var range = document.createRange();
				range.selectNode(document.getElementById("{{ tag }}"));
				window.getSelection().removeAllRanges(); // clear current selection
				window.getSelection().addRange(range); // to select text
				document.execCommand("copy");
				window.getSelection().removeAllRanges();// to deselect
            }
		</script>
	</body>
</html>
